/* Home Screen */
.home {
    display: grid;
    grid-template-rows: auto 1fr;
}

.info-container {
    padding-left: 4rem;
    display: grid;
    grid-template-columns: auto 2fr 1fr;
    grid-gap: 4rem;
}
@media (max-width: 1200px) 
{
    .info-container {
        grid-template-columns: auto 1fr 1fr;
    }
}
@media (max-width: 992px) 
{
    .info-container {
        padding-right: 1rem;
        grid-template-columns: auto 1fr;
    }
}
@media (max-width: 768px) 
{
    .info-container {
        grid-template-columns: 1fr;
    }
}

.profile-container {
    grid-row: 1 / 3;
}
@media (max-width: 992px) 
{
    .profile-container {
        grid-row: inherit;
    }
}
@media (max-width: 768px) 
{
    .profile-container {
        margin: 0 auto;
    }
}

.profile-image {
    border-radius: 100px;
    width: 200px;
    height: auto;
}

.about-container {

}

.contact-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: .5rem;
    justify-content: start;
}

.contact-container h2 {
    grid-column: 1 / 4;
}

@media (max-width: 1200px) 
{
    .contact-container {
        grid-template-columns: auto auto;
    }

    .contact-container h2 {
        grid-column: 1 / 3;
    }
}

.skills-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: .5rem;
    align-content: start;
}
.skills-container h2 {
    grid-column: 1 / 3;    
}

/* .skills-container ul {
    padding: 0;
    margin: 0;
}

.skills-container li {
    list-style-type: none;

    margin-bottom: 1rem;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
} */

.games-list-container {
    padding-top: 2rem;
    background-color: #f5f8fa;
    /* grid-column: 1 / 4; */
}

.games-list-container h2 {
    padding: 0 5rem;
    font-size: 2em;
    color: #212121;
}

.container .game {

}

.game-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.game-item h3 {
    padding: 0 5rem;
    margin-bottom: .5rem;
    color: #212121;
}

.game-item h4 {
    padding: 0 5rem;
    margin-bottom: .5rem;
    color: #212121;
}

.game-item p {
    padding: 0 5rem;
    color: #212121;
}

.game-item .game-image {
    position: relative;
    margin-top: 1rem;
    height: 15rem;
    margin-top: 1rem;

    background-image: url('/img/game_placeholder.jpg');
    background-position: center;
    background-repeat: repeat-x;
}
.game-item .game-image.webthreshgame {
    background-position: center 0%;
    background-image: url('/img/game_webthreshgame.png');
}
.game-item .game-image.color {
    background-position: center center;
    background-image: url('/img/game_color.png');
}
.game-item .game-image.soccer {
    background-image: url('/img/game_soccer.png');
}
.game-item .game-image.gof {
    background-position: center 42%;
    background-image: url('/img/game_gof.png');
}
.game-item .game-image.destruct {
    background-position: top;
    background-image: url('/img/game_destruct.png');
}
.game-item .game-image.ant {
    background-position: bottom right;
    background-image: url('/img/game_ant.png');
}
.game-item .game-image.bble {
    background-position: bottom right;
    background-image: url('/img/game_bble.png');
}
.game-item .game-image.plane {
    background-image: url('/img/game_plane.png');
}
.game-item .game-image.fps {
    background-position: center 30%;
    background-image: url('/img/game_fps.png');
}
.game-item .game-image.nw {
    background-position: center center;
    background-image: url('/img/game_nw.png');
}
.game-item .game-image.cjumper {
    background-position: center 70%;
    background-size: 90%;
    background-image: url('/img/game_cjumper.png');
}

.game-item .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    background-color: rgba(58, 58, 58, .5);

    transition: 300ms all;
}
@media (max-width: 768px) 
{
    .game-item .overlay {
        background-color: rgba(58, 58, 58, .9);
        opacity: .4;
    }
}

.game-item:hover .overlay {
    background-color: rgba(58, 58, 58, .9);
    opacity: .4;
}

.game-item .overlay:hover {
    opacity: 1;
}

.game-item .overlay:hover p {
    text-decoration: underline;
}

.game-item .game-link p {
    color: #fafafa;
    font-size: 2em;
}