/* Native */
html {
    font-family: 'Open Sans', sans-serif;
}
body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 5rem 1fr 3rem;
}
a {
    color: #ccc;
}
h1 {
    margin: 0;    
    padding: 0;
}
h2 {
    margin: 0;
    padding: 0;
}
h3 {
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
    padding: 0;
}

/* Components */
.logo {
    width: auto;
    height: 50px;
}

.justify {
    text-align: justify;
}

.text-sep {
    margin-top: .5em;
}

.btn {
    min-width: 200px;
    margin: 0;
    padding: .5rem 1.5rem;
    font-size: 1.2rem;

    border-radius: 1rem;
    
    border: 2px solid #fafafa;
    background-color: #212121;
    color: #fafafa;

    transition: 300ms all;
    cursor: pointer;
}
.btn:hover {
    border: 2px solid #212121;
    background-color: #fafafa;
    color: #212121;
}

.btn p {
    color: #FAFAFA;    
}
.btn:hover p {
    color: #212121;    
}

.btn .link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.btn .link .logo {
    margin-right: 1rem;
}
.btn:hover .link .logo {
    filter: brightness(0.1);
}

.team {

}
.team h4 {
    margin-bottom: .5rem;
    color: #212121;
}
.team .member:hover {
    text-decoration: underline;
}


/* Header */
header {
    display: flex;
    align-items: center;
    
    padding: 0 5rem;
    background-color: #212121;
    height: 5rem;
}
@media (max-width: 768px) 
{
    header {
        padding: 0 1rem;
    }
}
header a {
    text-decoration: none;
}
header h1 {
    color: #FAFAFA;    
    font-size: 3em;
    font-weight: normal;
}
header p {
    color: #FAFAFA;    
    text-align: center;
}



/* Content */
content {
    min-height: 100%;
    background-color: #3a3a3a;
}

.container {
    margin-top: 3rem;
}
.container h2 {
    font-weight: bold;
    color: #FAFAFA; 
    margin-bottom: 1rem;  
}
.container p {
    color: #FAFAFA;    
}

/* Footer */
footer {
    background-color: #3a3a3a;
}