/* COLORS
    #223142	(34,49,66)
    #f0b634	(240,182,52)
    #d64439	(214,68,57)
    #3aa68a	(58,166,138)
    #dce2e2 (220,226,226)
*/

html {
    background-color: #213142;
    font-family: 'Open Sans', sans-serif;
    /* background-color: #f5f8fa; */
}
body {
    margin: 0;
}

a {
    text-decoration: none;
}
h1 {
    margin: 0;    
    padding: 0;
}
h2 {
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
    padding: 0;
}

.games-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    background-color: #15212e;
    height: 15vh;
    min-height: 70px;
}
.games-header h1 {
    color: #FAFAFA;    
    text-align: center;
    font-size: 3em;
    font-weight: bold;
}
.games-header p {
    color: #FAFAFA;    
    text-align: center;
}

.help-container {
    padding: 0 2em;
    display: flex;
    flex-direction: column;
    color: #FAFAFA;    
}

.help-container h2 {
    margin-bottom: .5em;
    margin-top: 1em;
}

.contact-list a:first-child {
    margin-right: 1em;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    border-bottom: 1px solid
    /* grid-gap: 1em; */
}

/* .grid-container h2 {
    padding: 2em;
    color: #FAFAFA;    
    
} */

.game-container {
    position: relative;
    display: flex;
    flex-direction: column;
    transition: 300ms all;
}

.game-container:hover {
    /* box-shadow: 0px 8px 16px #212121; */
}

.game-header-container {
    display: grid;
    justify-content: flex-start;
    align-items: flex-start;
    height: 200px;
    background-image: url('/img/game_placeholder.jpg');
    background-position: center;
    background-repeat: repeat-x;
}
.game-header-container.webthreshgame {
    background-position: center 0%;
    background-image: url('/img/game_webthreshgame.png');
}
.game-header-container.soccer {
    background-image: url('/img/game_soccer.png');
}
.game-header-container.gof {
    background-image: url('/img/game_gof.png');
}
.game-header-container.destruct {
    background-position: top;
    background-image: url('/img/game_destruct.png');
}
.game-header-container.ant {
    background-position: bottom right;
    background-image: url('/img/game_ant.png');
}
.game-header-container.bble {
    background-position: bottom right;
    background-image: url('/img/game_bble.png');
}
.game-header-container.plane {
    background-image: url('/img/game_plane.png');
}
.game-header-container.fps {
    background-position: center 30%;
    background-image: url('/img/game_fps.png');
}
.game-header-container.nw {
    background-position: center center;
    background-image: url('/img/game_nw.png');
}
.game-header-container.cjumper {
    background-position: center 70%;
    background-size: 70%;
    background-image: url('/img/game_cjumper.png');
}

.game-title-container {
    position: absolute;
    display: grid;
    align-items: center;

    background-color: #223142;
    color: #FAFAFA;

    transition: 300ms all;
    opacity: .8;
    width: 200px;
    height: 2em;
    overflow: hidden;
}
.game-container:hover .game-title-container {
    border: none;
    opacity: .9;
    width: 100%;
    height: 100%;
    /* box-shadow: 0px 8px 16px #212121; */
}
.grid-container > .game-container:nth-child(odd) > .game-title-container {
    background-color: #dce2e2;
    color: #212121;
}

.game-title {
    font-weight: bold;
}
.grid-container > .game-container:nth-child(odd) > .game-title-container > .game-title {
}

.game-description-container {
    padding: .3em;
}

.game-description {

}

.wip-badge {
    display: inline;
    background-color: #FFCC00;
    color: #212121;
    border-radius: 5px;
    padding: .4em;
    margin-top: .5em;
    margin-left: .5em;
    font-size: .7em;
    font-weight: bold;
}

footer {
    height: 3em;
    background-color: #15212e;
}

.download-list {
    display: flex;
    margin-top: 3em;
    justify-content: space-around;
}

.download-container .link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    transition: 300ms all;
}

.download-container:hover .link {
    font-size: 17px;
}

.download-container .link .platform {
    color: #fafafa;
    text-decoration: none;
    font-size: 1.3em;
}

.download-container:hover .link .platform {
    border-bottom: 1px solid #fafafa;
}

.download-container .link img {
    margin-top: .3em;
    width: 5em;
    height: 5em;
}

.game-wrapper {
    margin-top: 1em;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-wrapper h2 {
    color: #FAFAFA;
    margin-bottom: .5em;
}